@page "/ListEmpHist"
@page "/ListEmpHist/{argSort}"
@page "/ListEmpHist/{argSort}/{argSortOrder}/"

@using EMP.Core.UseCases
@using EMP.Core.Entities
@using EMP.Core.UseCases.Interfaces

@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

@*   @inject IViewEmpHistByNameUseCase ViewEmpHistByNameUseCase   *@
@inject IViewEmpHistAllUseCase ViewEmpHistAllUseCase

@*
@attribute [Authorize(Policy = "EMPUserOrMgrOrAdmin")]
*@


<h3>EmpHist List</h3>
<br />

@*   *@
<button type="button"
        class="btn btn-dark"
@onclick="AddEmpHist">
    Add EmpHist
</button>
<br />
<br />

@if (_EmpHistList != null && _EmpHistList.Count > 0)
{

    <table class="table">
        <thead>
            <tr style="background-color:#b3b3b3">
                <td>EmpHistID Link</td>
                <td>fname </td>
                <td>lname </td>
                <td>title </td>
                <td>orgname </td>
                <td>current </td>
                <td align="right">
                    Sort:&nbsp;
                    <button type="button"
                            class="btn btn-link"
                    @onclick="@(() => SortID())">
                        ID
                    </button>&nbsp;
                    <button type="button"
                            class="btn btn-link"
                    @onclick="@(() => SortName())">
                        Name
                    </button>&nbsp;
                </td>
            </tr>
        </thead>
        <tbody>

            @{
                int iRowColorCount = 0;
                string sTRStyle = "#FFFFFF";
            }
            @foreach (var rsObject in _EmpHistList)
            {
                if (iRowColorCount == 0)
                {
                    iRowColorCount = 1;
                    sTRStyle = "#FFFFFF";   //WHITE: #FFFFFF
                }
                else
                {
                    iRowColorCount = 0;
                    sTRStyle = "#DBDBDB";   //GREY: #DBDBDB
                }

                @*  ALL Columns
        ENTITY: EmpHist

        @rsObject.Guid
        @rsObject.GuidEmp
        @rsObject.GuidOrg
        @rsObject.Title
        @rsObject.CurrentEmp
        *@
                <tr style="background-color:@sTRStyle">
                    <td>
                        <button type="button"
                                class="btn btn-link"
                        @onclick="@(() => DetailsEmpHist(rsObject.EmpHistGuid))">
                            @rsObject.EmpHistGuid
                        </button>&nbsp;
                    </td>
                    <td>@rsObject.Fname</td>
                    <td>@rsObject.Lname</td>
                    <td>@rsObject.Title</td>
                    <td>@rsObject.Orgname</td>
                    <td>@rsObject.CurrentEmp</td>
                    <td>
                        <button type="button"
                                class="btn btn-dark"
                        @onclick="@(() => EditEmpHist(rsObject.EmpHistGuid))">
                            Edit
                        </button>&nbsp;
                        <button type="button"
                                class="btn btn-secondary"
                        @onclick="@(() => DetailsEmpHist(rsObject.EmpHistGuid))">
                            Details
                        </button>&nbsp;
                        <button type="button"
                                class="btn btn-link"
                        @onclick="@(() => DeleteEmpHist(rsObject.EmpHistGuid))">
                            Delete
                        </button>&nbsp;
                    </td>
                </tr>
            }

        </tbody>
    </table>
}


@code {

    [Parameter]
    public string argSort { get; set; } = string.Empty;

    [Parameter]
    public string argSortOrder { get; set; } = string.Empty;

    //[Parameter]    //public List<EmpHist> _EmpHistList { get; set; } = new List<EmpHist>();
    public List<EmpHistListViewModel> _EmpHistList = new List<EmpHistListViewModel>();

    protected override async Task OnParametersSetAsync()
    {
        //await JsRuntime.InvokeVoidAsync("alert", "OnParametersSetAsync argSort:" + argSort); // Alert
        //await JsRuntime.InvokeVoidAsync("console.log", "OnParametersSetAsync argSort:" + argSort + "   argSortOrder: " + argSortOrder);

        _EmpHistList = (await ViewEmpHistAllUseCase.ExecuteAsync(argSort, argSortOrder)).ToList();
    }

    //protected override async Task OnInitializedAsync()
    //{
    //_EmpHistList = (await ViewEmpHistByNameUseCase.ExecuteAsync("")).ToList();
    //_EmpHistList = (await ViewEmpHistAllUseCase.ExecuteAsync()).ToList();
    //}

    private void AddEmpHist()
    {
        NavigationManager.NavigateTo("/addEmpHist");
    }

    private void EditEmpHist(int argGuid)
    {
        NavigationManager.NavigateTo($"/EditEmpHist/{argGuid}");
    }

    private void DetailsEmpHist(int argGuid)
    {
        NavigationManager.NavigateTo($"/DetailsEmpHist/{argGuid}");
    }

    private void DeleteEmpHist(int argGuid)
    {
        NavigationManager.NavigateTo($"/DeleteEmpHist/{argGuid}");
    }

    private void SortName()
    {
        if (argSortOrder == "ASC")
        {
            argSortOrder = "DESC";
        }
        else
        {
            argSortOrder = "ASC";
        }
        NavigationManager.NavigateTo($"/ListEmpHist/NAME/" + argSortOrder + "/");
    }

    private void SortID()
    {
        if (argSortOrder == "ASC")
        {
            argSortOrder = "DESC";
        }
        else
        {
            argSortOrder = "ASC";
        }
        NavigationManager.NavigateTo($"/ListEmpHist/ID/" + argSortOrder + "/");
    }

}
